<!DOCTYPE html>
<html>
<head>
   <title>Home</title>
   <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
   <%- include('partials/navbar') %>
   <div class="content-container">
       <h1>Welcome to My Portfolio</h1>
       <h2>Mission Statement</h2>
       <p>
          "Hi, I'm Mahdi. As an aspiring software engineer, my mission is to merge theoretical knowledge with hands-on application, showcasing my commitment to developing robust, user-friendly software solutions. Through this portfolio, I present a curated collection of my academic pursuits and personal projects. Every piece reflects my dedication to quality, innovation, and the endless possibilities of technology. My objective is not just to fulfill academic requirements but to embark on a lifelong journey of learning, growth, and meaningful contributions to the tech community."
       </p>
       <a href="/about" class="cta-button">Learn More About Me</a>
   </div>
   <%- include('partials/footer') %>
</body>
</html>
