<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <%- include('partials/navbar') %>

<h1>My Projects</h1>

<div class="projects-container">
    <!-- Student Management System -->
    <div class="project-card">
        <img src="/images/SMS.png" alt="Student Management System Image">
        <h2>Student Management System</h2>
        <p>Web-based tool for student registration and grading. Earned an 'A+' for user-friendly interface.</p>
    </div>

    <!-- Personal Portfolio Website -->
    <div class="project-card">
        <img src="/images/web.png" alt="Portfolio Website Image">
        <h2>Personal Portfolio Website</h2>
        <p>Responsive website showcasing my achievements. Used during internship applications.</p>
    </div>

    <!-- Duck Runner Game -->
    <div class="project-card">
        <img src="/images/duck2.png" alt="Duck Runner Game Image">
        <h2>Duck Runner</h2>
        <p>2D side-scrolling game. Praised by peers for intuitive controls.</p>
    </div>
</div>

<%- include('partials/footer') %>

</body>
</html>
