<!DOCTYPE html>
<html>
<head>
   <title>About Me</title>
   <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
   <%- include('partials/navbar') %>

   <div class="about-container">
       <h1>About Me</h1>
       <img src="/images/000000 - Copy.JPG" alt="Your Name" class="profile-pic">
       <p>Hello, I'm Mahdi Mubarrat Khan. Currently pursuing a degree in Software Engineering Technology at Centennial College, I am driven by a passion to transform theoretical insights into practical solutions. Beyond the classroom, I'm always eager to explore the latest tech trends and see how they can shape our future.</p>
       <a href="/Mahdi_Resume.pdf" class="cta-button" download>Download My Resume</a>

   </div>

   <%- include('partials/footer') %>
</body>
</html>
